* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monument;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
}
#nav {
  height: 100px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}
#nav-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav h3 {
  font-size: 17px;
  border: 1.5px solid black;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 50px;
}
i{
  font-size: 16px;
  border: 1.5px solid black;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border:1.5px solid black;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
}
#nav #btn{
    border:none;
    background-color: #ba1414;
    color:white;
}
#main>h1{
    font-size: 95px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height:400px;
    width:350px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left:50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#img4{
    transform: translate(-50%,-50%) rotate();
}

#btm-left{
    position:absolute;
    bottom:5%;
    left:3%;
    font-size:16px;
}
#main #social{
    position: absolute;
    display: flex;
    bottom:5%;
    right:3%;
    gap:10px;
}
#main #social i {
    border: none;
    font-size: 20px;
}
